.container-tecnologies {
  display: flex;
  justify-content: center;
}

.body-contaier {
  max-width: 1000px;
}

.h1-tite {
  font-size: 3rem;
  color: white;
}

.p-content {
  font-size: 2rem;
  color: white;
  margin: 0;
  padding: 0;
}

.div-container-img {
  display: flex;
  width: 100%;
  justify-content: center;
}

.img {
  width: 100%;
  
}
